/*
  * NOTES:  common.css
  * box-sizing - https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
  * Why imnage display: block - https://www.tutorialrepublic.com/faq/how-to-remove-white-space-under-an-image-using-css.php
  * display: flex
    * https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox
    * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  * vw units
    * https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units
    * https://ishadeed.com/article/viewport-units/
*/
/***** =01 RESET/GLOBALS/HELPER CLASSES *****/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
	height: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
	margin-bottom: 1em;
}

header {
  width: 100%;
  height: 85px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #2e2c2b;
  overflow: hidden;
  z-index: 100;
}

footer {
  width: 100%;
  height: 38px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #edddc6;
  background-color: #2e2c2b;
  z-index: 11;
}

footer p {
  width: 100%;
  margin: 0;
  padding-right: 2%;
  font-size: 1.75vw;
  text-align: right;
}

/***** =02 TYPOGRAPHY *****/
body {
  font-family: "Myriad Pro", Arial, Helvetica, Geneva, Swiss, sans-serif;
}


/***** =03 NAVIGATION *****/
.nav-site {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-site a {
  padding: 25px 0.5em; /*  2 * 25 = 50; 50 + 35 = 85; see height above. */
  /* font-size: 35px; */
  font-size: 1.8vw;
  text-decoration: none; /* remove underline */
  line-height: 1;
  color: #edddc6;
  background-color: #2e2c2b;
}

/* Still need to figure out how to attach individual fonts to individual nav fields */
.nav-site a.brand-id {
  padding-top: 3px;
  padding-bottom: 9px;
  font-family: "bd-brick", serif;
  /* font-size: 80px; */
  font-size: 4vw;
}

.nav-site a:hover {
  background-color: #edddc6;
  color: #3d3d3d;
}

/***** =04 LAYOUT *****/
body {
  background-color: #edddc6;
}

.page-frame {
  min-height: 100%;
  background-image: url('../images/background_final_v3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 85px;
  background-attachment: fixed;
}

main {
  padding-bottom: 2em;
  font-size: 25px;
  color: #edddc6;
}
