h2 {
	color: gray;
}

h3 {
	color: lightgray;
}

.foodtruck {
	width: 450px;
	border: 1px solid black;
	margin-bottom: 1em;
}

.ft-links {
	display: flex;
	justify-content: flex-start;
	column-gap: 0.25em;
}

.ft-links img {
	display: inline;
	width: 90px;
}